
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/coverage
/phpunit.result.cache
/.phpunit.cache
###< phpunit/phpunit ###
.env.test
/src/feature-flags.json
/src/test.feature-flags.json
.idea
